body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-link {

}

#header {

}

#header-img {
    width: 10%;
    height: 10%;
}

#nav-bar {
   
    
}

#email{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#submit{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#features-link {

      
}
#products-link {

      
}#location-link {
 
      
}

#video {

}

#jc-beans{

}
#description {
    font-style: italic;
    background-color: #eee;
}

#beans {


}

#grounds{

}

#k-cups {

}

#coffee-pic {

}