body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #eee;
    margin: 15px 15px 15px 15px;
}

a {
    color: #eee;
    background-color:  rgb(100, 72, 33);
}

footer {
    text-align: center;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

#header-img {
    margin-top: 15px;
    width: 10%;
    height: 10%;
    border-radius: 50px 5px 50px 5px;
    border-width: thick;
    border: 10px solid rgb(100, 72, 33););
    margin-left: 30px;
    margin-bottom: 15px;
}

#head-box {
    display: flex;
    justify-content: center;
    
}
#container {
    background-color: rgb(100, 72, 33);
    padding: 20px;
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    border-radius: 10px;
}

#jc-beans {
    margin-bottom: 0px;
    font-size: 60px;
    color: #eee;
}

#description {
    margin-top: 20px;
    font-style: italic;
    font-size: 20px;
    color: #eee;
}

#nav-bar {
    margin-top: 15px;
    
}

#submit{
    margin-top: 10px;
    padding: 5px 20px 5px 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(100, 72, 33);
    color: #eee;
}

#features-link {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-style: normal;
    border: 0px;
    padding: 10px 20px 10px 20px;
    margin: 10px 10px 10px 0px;  
    border-radius: 5px;  
}

#products-link {
    border: 0px;
    padding: 10px 20px 10px 20px;
    margin: 10px 10px 10px 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    border-radius: 5px;
    font-style: normal;

}


#location-link {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 0px;
    padding: 10px 20px 10px 20px;
    margin: 10px 10px 10px 0px;
    font-size: 20px;
    border-radius: 5px;
    font-style: normal;

}

#video{
    width: 1000px;
    
}

#video-container {
    display: flex;
    justify-content: center;
    padding: 10px;

}

#features-box {
    display: flex;
    justify-content: center;
}
#features {
    color: #eee;
    font-style: italic;
    height: 162px;
    width: 162px;
    text-align: center;
    padding: 20px;
    background-color: rgb(100, 72, 33);
    border-radius: 50%;
    border-style: double;
    border-width: 8px;

}

#product-container {
    display: flex;
}

#coffee-holder{
    height: 150px;
}

#bean-holder {
    text-align: center;
    height: 150px;
    width: 350px;
}

#ground-holder {
    text-align: center;
    height: 150px;
    width: 350px;
}

#k-cups-holder {
    text-align: center;
    height: 150px;
    width: 350px;
}

#location {
    width: 400px;

}

#separator {
    padding-left: 20px;
    padding-right: 20px;
}

#inside-container {
    flex-direction: row-reverse;
}

#form-email {
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 50px;
    font-size: 20px;
    text-align: center;
}

#email{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px 10px 5px 10px;
    margin-top: 7px;
    border-width: 3px;
    border-radius: 5px;

}

#inside-pic {
    width: 750px;
    height: auto;
}

.full-card {
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 10px;
    padding: 50px;
    background-color: rgb(100, 72, 33);
    display: flex;
    justify-content: center;
}

.card-info {
    margin: 10px;
    padding: 10px;
    color: #eee;

}

.card-image{
    margin: 10px;
    padding: 10px;
    display: block;
    border: 10px;
    border-color: #eee;

}

.nav-link {
    background-color: rgb(100, 72, 33);
    
}